<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mon blog</a>

    <div>
      <a href="/singup" class="btn btn-outline-info">Inscription</a>
      <a href="/singin" class="btn btn-outline-info">Connexion</a>
    </div>
  </div>
</nav>